* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*This root is for all the text on the homepage*/
:root {
    --secondary-color:#FCF3CF;
    --font-1:#FEF9E7;
    --primary-color:#212F3C;
}

/*I'm Greg and I'm a Web-Developer*/
h1 {
    font-size: 60px; 
    color: var(--font-1); 
    font-family:serif;
    font-weight: bold; 
    margin-top: -500px;
    margin-left: 100px; 
    padding: 10px;
}

.headinside{
    color: #F9E79F;
    display: inline-block;
    font-weight: lighter;
    font-family: 'Times New Roman', Times, serif;
}

/* Hello my name is... */
h2 {
    color: var(--font-1);
    font-size: 36px;
    font-weight: lighter;
    font-family: serif;
    margin-top: -150px;
    margin-left: 300px;
   
}

.signature img {
    width:400px;
    margin-left: 350px;
    margin-top: 75px;
    opacity: 75%;
    
}

.first-background {
    background-color: var(--primary-color);
    padding-top: 650px;
    
}

/* All top-list element are for the links at the top right of the home page */
.top-list {
    list-style-type: none;
    margin-top: 0px ;
    margin-left: 1100px;
    text-align: right;
    position: absolute;
    top: 0;
    width: 40%;
    height: 0%;   
}
.top-list li {
    display: inline-block;
    margin-right: 65px; 
    padding-left: 5px; 
  
}
.top-list a {
    text-decoration: none;
    color: var(--font-1);
    font-size: 28px;
    padding-right: 25px;
    font-family: serif; 
}
.top-list a:hover {
    text-decoration: underline;  
}

.card img {
    height: 500px;
    margin-left: 1400px;
    margin-top:-350px;
}
#section3 {
    background-color: #FEF9E7;
    padding-bottom: 50px;
}

#section3 p {
font-size: 32px;
color: var(--primary-color);
text-align:justify; 
word-break:break-word;
width: 600px;
}
.p1 {
    margin-left: 400px;
    padding-top: 50px ;   
}

.p2 {
    margin-left: 400px;
    margin-top: 100px;
    margin-bottom: 50px;
}

.projects {
    background-color: var(--primary-color);
    padding-top: 750px;
    padding-bottom:100px;
    

}


.clickable-box1 {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    width: 500px; /* Adjust the width as needed */
    margin-top: -600px; /* Adjust the margin for spacing */
    margin-left: 300px;
    margin-bottom: 800px;
    
  }
  
  .clickable-box1 a {
    text-decoration: none;
    color: #333;
    display: block; /* Makes the entire box clickable */
  }
  
  .clickable-box1 img {
    max-width: 100%;
    height: auto;
  }
  
  .clickable-box1 h3 {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--font-1);
  }

  .clickable-box2 {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    width: 400px; /* Adjust the width as needed */
    margin: 10px; /* Adjust the margin for spacing */
    margin-left: 900px;
    margin-top: -1500px;
  }
  
  .clickable-box2 a {
    text-decoration: none;
    color: #333;
    display: block; /* Makes the entire box clickable */
  }
  
  .clickable-box2 img {
    max-width: 100%;
    height: auto;

  }
  
  .clickable-box2 h4 {
    margin: 10px 0;
    color:var(--font-1)
  }
  .clickable-box3 {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    width: 400px; /* Adjust the width as needed */
    margin: 10px; /* Adjust the margin for spacing */
    margin-left: 900px;
    margin-top: 70px;
    margin-bottom: 50px;
  }
  
  .clickable-box3 a {
    text-decoration: none;
    color: #333;
    display: block; /* Makes the entire box clickable */
  }
  
  .clickable-box3 img {
    max-width: 100%;
    height: auto;

  }
  
  .clickable-box3 h4 {
    color: var(--font-1);
  }
#section1{
    background-color: var(--font-1);
    padding-top: 129px;
    display: block;
    text-align: center;
}
  #section1 ul{
    text-align: center;

  }
  #section1 ul li{
    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--primary-color);
    display: inline-block;
    padding-right:50px;
    margin-bottom: 75px;
  }

